<div class="container-fluid mt-3">
    <h1>Chat de Clientes</h1>
    <form class="form-inline" onsubmit="return addMessage(this);" autocomplete="off">
        <input type="text" id="email" class="form-control my-2 mr-2" placeholder="Your email">
        <input type="text" id="text" class="form-control my-2 mr-2" placeholder="Your message">
        <input class="btn btn-success my-2" type="submit" value="Send!">
    </form>
    <hr>
</div>